<configuration>
    <appender name="myConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg %n
            </pattern>
        </encoder>
    </appender>

    <appender name="FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">

        <file>logs/auth-platform.log</file>

        <encoder class="org.springframework.boot.logging.logback.StructuredLogEncoder">
            <format>ecs</format>
            <charset>UTF-8</charset>
        </encoder>

        <rollingPolicy
                class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">

            <fileNamePattern>
                logs/auth-platform.%d{yyyy-MM-dd}.%i.log.gz
            </fileNamePattern>

            <!-- Rotate when file reaches 10 MB -->
            <maxFileSize>10MB</maxFileSize>

            <!-- Keep logs for 30 days -->
            <maxHistory>30</maxHistory>

            <!-- Never allow all archived logs to exceed 1 GB -->
            <totalSizeCap>1GB</totalSizeCap>

        </rollingPolicy>

    </appender>

    <!-- Only your package in DEBUG -->
    <logger name="com.authplatform" level="DEBUG" additivity="false">
        <appender-ref ref="myConsoleAppender"/>
        <appender-ref ref="myFileAppender"/>
    </logger>

    <!-- Frameworks stay at INFO -->
    <logger name="org.springframework" level="INFO"/>
    <logger name="org.hibernate" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="myConsoleAppender"/>
        <appender-ref ref="myFileAppender"/>
    </root>

</configuration>